.wrapper {
  background-color: #fff;
}
.language {
  position: absolute;
right: 30px;
top: 30px;
  
}
.box {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  height: 400px;
  width: 400px;
}

.tasks {
  background-color: rgb(206, 206, 206);
  height: 30px;
  font-weight: 700;
  display: flex;
  place-items: center;
}

.list-task {
  
}
.task {
    display: flex;
    border-bottom: 1px solid #bbbbbb;
    height: 40px;
    padding-left: 10px;

    font-size: 18px;
    place-items: center;
    font-weight: 300;
    & input{
      margin-right: 10px;
    }

  }

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  
  & input{
    border-radius: 5px;
    height: 33px;
    width: 290px;
    margin-left: 5px;
    border:1px solid #bbbbbb;
    padding-left: 10px;
    outline: none;
  }
}
.submit{
  margin-left: 3px;
  background-color: #bbbbbb;
}